/* 
    Spelet
    Author: Karl Karlsson
    Version 0.0.1
*/
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bodyBG.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
