
$debugging: false;
$margin-auto: 0 auto; 

$base-font-size: 0.9em;
$base-font-family: Roboto, Arial, sans-serif;
$base-font-color: #333;

$pink-color-light: #d41378;
$pink-color-dark: #98025b;
$grey-color: #999999;
$grey-bg-color: #ebebeb;
$black-bg: #000;



